.rooms-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, 18rem));
    grid-template-rows: repeat(auto-fit, minmax(0,10rem));
    row-gap: 2rem;
    column-gap: 2rem;
    justify-content: start;
    /* align-items: start; */
    padding: 2rem;
    /* border: 3px solid red; */
    /* padding: 40px; */
    /* width: 100vw; */
    /* min-height: 0; */
}

@media (max-width: 1060px) {
    .rooms-container {
        justify-content: center;
    }
}

.rooms-item-container {
    cursor: pointer;
    overflow: hidden;
    box-shadow: 0px 0px 15px -5px;
    transition: 0.3s;
    /* animation: ease-in; */
    border-radius: 1rem;
    background-color: white;
    height: 100%;
    /* min-width: 0; */
    width: 100%;
    /* margin: 40px; */
    /* padding: 2px; */
    /* padding-right: 2rem; */
    display: grid;
    justify-self: center;
    align-self: start;
    grid-template-areas: "image title"
                        "image button";
    grid-template-rows: 1fr 28%;
    grid-template-columns: 1fr 1fr;
}

.rooms-item-container:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 15px 0px;
}

.rooms-item-container > .image {
    grid-area: image;
    /* border-radius: 10%; */
    justify-self: center;
    align-self: center;
    width: 104%;
    height: 105%;
    /* border: solid 1px black; */
    /* overflow: hidden; */
}

.rooms-item-container > .title {
    grid-area: title;
    padding: 1rem;
    display: flex;
    text-overflow: ellipsis;
    flex-direction: column;
    white-space: nowrap;
    /* background-color: blue;
    border: solid 3px red; */

    /* justify-self: start;
    align-self: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: black; */
}

.card-header {
    color: grey; 
    font-size: smaller;
    font-weight: lighter;
}

.card-title {
    font-weight: bolder;
    text-overflow: ellipsis;
}

.card-subheader {
    color: grey; 
}

.rooms-item-container > .button {
    grid-area: button;
    /* border: solid 1px black; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* justify-self: center;
    align-self: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
    cursor: pointer; */
}

.card-action {
    padding: 0.5rem;
    font-size: 1rem;
    background-color: white;
    border: none;
    transition: 0.2s;
    /* margin-bottom: 0.5rem; */
    border-radius: 3px;
    text-transform: capitalize;
    color: crimson;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}

.card-action:hover{
    background: rgba(27, 156, 252, 0.1);
}

img {

    width: 100%;
    height: 100%;
    /* object-fit: cover; */
}