:root {
    --page: #12254f;
    --icons: #FC9C54;
    --buttons: #4B3D60;
    --bars: #08183A;
    --cards: #172b57;
    --forms: #172b57;
}

.parent {
    display: grid;
    grid-template-areas:
        "text-editor chat"
        "footer chat";
    grid-template-rows: 1fr 130px;
    grid-template-columns: 1fr 275px;
    z-index: 0;
}

.parent > .text-editor {
    grid-area: text-editor;
    z-index: 0;
}


.publish-expand {
    height: 38%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 10px;
    width: 100%;
    background-color: white;
    border-top: 1px solid black;
}

.parent > .footer {
    grid-area: footer;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    bottom: 0;
    position: sticky;
}

.online-collaborators {
    width: 100%;
    background-color: white;
    z-index: 3;
    border-top: 1px solid black;
    height: 62%;
}

.parent > .chat {
    grid-area: chat;
}

.publish-button-active {
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    padding: 10px;
    border-radius: 100px;
    width: fit-content;
    background-color: crimson;
    cursor: pointer;
    white-space: nowrap;
}

.publish-button-inactive {
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    padding: 10px;
    border-radius: 100px;
    width: fit-content;
    background-color: rgba(220, 20, 60, 0.541);
    white-space: nowrap;
    pointer-events: fill;
}

.publish-button-inactive:hover {
    cursor: not-allowed;
}

.expand-button {
    background-color: transparent;
    /* padding-top: 5px; */
}

.expand-button:hover {
    cursor: pointer;
}

.expand-icon {
    height: 100%;
    /* padding-top: 12.5px; */
    color: var(--icons)
}

.invite-button {
    background-color: transparent;
    border: none;
    font-size: 11px;
}

.invite-button:hover {
    cursor: pointer;
}

.invite-icon {
    color: var(--icons);
    pointer-events: none;
}

.online-collaborators {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 11px;
}

.images {
    width: 58px;
    border-radius: 50%;
    margin-right: 18px;
}


