.button-container{
    display: flex;
    justify-content: center;
    gap: 1vw;
    /* border-top: 2px solid crimson; */
    padding-top: 20px;
    padding-bottom: 10px;
    margin-inline: 15px;
}

.collab-comm {
    /* position: relative; */
    padding: 10px;
    padding-inline: 20px;
    border-radius: 100px;
    font-size: 17px;
    color: #FFE373;
    font-weight: 250;
    cursor: pointer;
    transition: 1.5s;
    background-color: transparent;
    border: none;
}

/* .collab-comm:hover{
    box-shadow: 0 5px 10px crimson inset, 0 5px 10px crimson,
                0 5px 10px crimson inset, 0 5px 10px crimson;
} */