.all-collabs{
    /* margin-top: 2rem; */
    /* top: 100px; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(23rem, 14rem));
    grid-template-rows: repeat(auto-fit, 25rem);
    /* gap: 7rem; */
    justify-content: center;
    /* align-items: center; */
    /* padding-right: 90px; */
    padding: 30px;
    /* padding-top: 0px; */
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.card-container {
    justify-self: center;
    width: 85%;
    height: fit-content;
    overflow: hidden;
    box-shadow: 0px 0px 15px -5px;
    transition: 0.3s;
    animation: ease-in;
    border-radius: 4%;
    background-color: white;
    cursor: pointer;
}

.card-container:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 15px 0px;
}

.image-container {
    height: 200px;
    overflow: hidden;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-content{
    margin: 0.4rem;
    height: 4rem;
}

.card-header{
    color: black;
}

h3,p{
    margin:0;
    padding: 0;
}

.card-title{
    margin-bottom: 0.5rem;
}

.btn{
    display: flex;
    justify-content: center;
}

button {
    padding: 0.5rem;
    background-color: white;
    border: none;
    transition: 0.2s;
    margin-bottom: 0.5rem;
    border-radius: 3px;
    text-transform: uppercase;
    color: crimson;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}

button:hover{
    background: rgba(27, 156, 252, 0.1);
}

.card-content {
    /* border: 2px solid blueviolet; */
    display: flex;
}

.card-body{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.card-footer{
    display: flex;
    justify-content: space-between;
    /* border: 2px solid green; */
    height: 30%;
}

.owner-icon-container {
    padding: 0;
    margin: 0;
    width: 30%;
    /* border: 2px solid black; */
    /* width: 100px; */
}

.owner-icon {
    margin: 0;
    padding: 0;
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

.card-body {
    margin-left: 3%;
    /* border: 2px solid crimson; */
}