
.app {
    margin: 0px;
    display: grid;
    /* border: 5px solid black; */
    width: 100vw;
    height: 100vh;
    grid-template-columns: 66px auto;
}

.page {
    margin: 0px;
    display: grid;
    width: auto;
    grid-template-rows: 72px auto;
}