:root {
    --page: #12254f;
    --icons: #FC9C54;
    --buttons: #4B3D60;
    --bars: #08183A;
    --cards: #172b57;
    --forms: #172b57;
}

.app {
    margin: 0px;
    display: grid;
    /* border: 5px solid black; */
<<<<<<< HEAD
=======
    width: 100vw;
>>>>>>> 2c55fd0c01c34537b91d18efc87c74dbdeffc819
    height: 100vh;
    grid-template-columns: 66px auto;
}

.page {
    margin: 0px;
    display: grid;
    width: auto;
    grid-template-rows: 72px auto;
}