html, body {
  font-family: 'Roboto','Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  /* height: 100%; */
  overflow: hidden;
  background-color: #F3F3F3;
  margin: 0;
  /* background-color: #12254f; */
}

.index {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
}

p {
  text-overflow: ellipsis;
}

h4 {
  line-height: 1rem;
  font-weight: lighter;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media (max-width: 745px) {
    :root {
        font-size: 25px;
    }
}

@media (max-width: 1060px) {
    :root {
        font-size: 20px;
    }
}

button {
  border: none;
}


::-webkit-scrollbar {
  /* display: none; */
  width: 7.5px;
  height: 7.5px;
}

::-webkit-scrollbar-thumb {
  background-color: hsl(0, 0%, 79%);
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  border: 1px solid rgba(204, 204, 204, 0.377);
  border-radius: 10px;
}
